<!--{% extends "base.html" %}-->
<!--{% load static %}-->

<!--{% block content %}-->
<!--		<frameset cols="25%, 75%">-->
<!--			<frame src="Menu.html" Name="menu">-->
<!--			<frame src="Welcome.html" Name="welcome">-->
<!--		</frameset>-->
<!--{% endblock content %}-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSL KB</title>
</head>
		<frameset cols="10%, 90%">
			<frame src="menu.html" Name="menu">
			<frame src="welcome.html" Name="welcome">
		</frameset>

</html>
