<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Psychology</title>
		<style>
				table, th, td {
				border: 1px solid black;
				border-collapse: collapse;
				}
		</style>
</head>

<body bgcolor="LightGreen">

	<h1>Psychology</h1>
	
	<table>
	  <tr>
		<th><a name="_Topics"</a>Topics</th>
	  </tr>
	  <tr>
		<td> 
			<a href="#_Time_Warrior">Time Warrior</a>
		</td>
	  </tr>
	  <tr>
		<td> 
			<a href="data_science.html" target="welcome">Just enough anxiety</a>
		</td>
	  </tr>
	</table>
	
	<br>
	<br>

	<h3><a name="_Time_Warrior"</a>Time Warrior</h3>
	<ol>
	  <li>Time warrior book has some really good inputs for managing time.</li>
	  <li>Activities done in the present determine the future. Thinking about the future leads to anxiety.</li>
	  <li>Be brief, be swift.</li>
	</ol>
<!-- 	<p>
	"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
	</p> -->	
	<h6>12-JAN-2013</h6>		
	<h5><a name="_Go_To_Topics" href="#_Topics"</a>Go To Topics</h5>		
	<br>
</body>

</html>